# Foundry
cache/
out/
broadcast/

# Node
node_modules/
frontend/node_modules/
subgraph/node_modules/

# Env
.env
.env.local

# Logs
*.log
npm-debug.log*

# OS / IDE
.DS_Store
.vscode/
.idea/

# Graph generated cache
subgraph/build/